
@charset "utf-8";
/* CSS Document */

*{box-sizing:border-box;}

body{ background-color: rgba(185,230,244,1.00); 



}

#container{
	width: 1020px;
	margin:0 auto;



}



#header{
			background-color:dodgerblue; 
			width:100px; 
			height:150px;
		}
#nav{
			background-color:pink; 
			width:100px; 
			height:35px;
			margin-top:10px;
		}





#container{
	width:1350px;
	margin:0 auto;
}




.garner{
	width:33%;
	background-color: rgba(237,224,196,.5);
	height:400px;
	float:left;

}

	#art1{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#container{
		width:1350px;
	margin:0 auto;

}


#enchantedrock{
	width:34%;
	background-color:rgba(241,145,146,1.00);
	height:400px;
	float:left;
}

#art2{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;

}



#container{
		width:1350px;
	margin:0 auto;

}

#westtexas{
	width:330%;
	background-color:rgba(210,241,163,1.00);
	height:400px;
	float:left;
	margin-right: 15px;
	border:thin;
}

#art3{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;

}




footer{
	
			background-color:blue; 
			width:100%; 
			height:35px;
	clear:both;
}