
@charset "utf-8";
/* CSS Document */

*{box-sizing:border-box;}

body{ background-color: rgba(185,230,244,1.00); 



}

#container{
	width: 1020;
	margin:0 auto;



}



header{
			background-color:dodgerblue; 
			width:100; 
			height:150;
		}
nav{
			background-color:pink; 
			width:100; 
			height:35;
			margin-top:10px;
		}
.garner{
	width:33%;
	background-color: rgba(237,224,196,.5);
	height:400px;
	float:left;
}
#enchantedrock{
	width:34%;
	background-color:rgba(241,145,146,1.00);
	height:400px;
	float:center;
}
#westtexas{
	width:330%;
	background-color:rgba(210,241,163,1.00);
	height:400px;
	float:left;
	margin-right: 15;
	border:thin;

}

#art1{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;



}



footer{
	
			background-color:blue; 
			width:100%; 
			height:35px;
	clear:both;
}